@import "button.css";
*,
*::after,
*::before {
    box-sizing: border-box;
    font-size: 15px;
    margin: 0;
    padding: 0;
}

body {
    width: 250px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.header {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.9px;
    padding: 15px 0px;
    display: block;
    background-color: #d5d5d5;
}

.header>p {
    font-size: 12px;
    font-style: italic;
    font-weight: 400;
    margin-top: 5px;
}

.footer {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.9px;
    background-color: #d5d5d5;
    display: block;
    padding: 5px;
}

.footer>p {
    font-size: 10px;
    padding: 10px;
}

.content {
    width: 90%;
    margin: auto;
}

.row {
    padding: 10px 0px 5px 0px;
}

.form-label {
    display: block;
    padding: 3px 0px;
    font-weight: 500;
}

.form-control {
    border: 1px solid #9c9696;
    margin: auto;
    border-radius: 5px;
    padding: 8px 3px;
    width: 100%;
}

.show {
    display: block;
}

.hide {
    display: none;
}

input:focus,
button:focus {
    outline: none;
}

label[for="proxyCheckBox"],
input[type="checkbox"] {
    cursor: pointer;
}

.btn {
    background-color: #F0F0F0;
    color: #808080;
    border-radius: 3px;
    height: 35px;
    padding: 0 10px 0 10px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    border: 0px;
    transition: all 0.3s ease-in-out;
}

.btn:active {
    transform: scale(0.8);
}

.btn-highlight {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff
}

.btn:disabled {
    cursor: not-allowed;
}

.short-right-label {
    font-size: 10px;
    float: right;
    margin-right: 6px;
}

#liveServerPort {
    width: 65%;
}

#liveServerConnBtn {
    display: inline-block;
    width: 34%;
    vertical-align: bottom;
    font-size: 12px;
    margin-right: -5px;
}

#liveServerConnBtn.connected {
    background: green;
    color: #fff
}

#liveServerConnBtn.not-connected {
    background: red;
    color: #fff
}